<template>
    <div>
      <div class="search">
        <input v-model="keyword" type="text" placeholder="输入城市名或者拼音" class="search-input">
      </div>
      <div v-show="keyword" class="search-content" ref="searchContent">
        <ul>
          <li @click="handleCityClick(item.name)" class="search-item border-bottom" v-for="item of list" :key="item.id">{{item.name}}</li>
          <li class="search-item border-bottom" v-show="hasNoData">没有找到匹配数据</li>
        </ul>
      </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Bscroll from 'better-scroll'
export default {
  name: 'CitySearch',
  props: {
    cities: Object
  },
  data () {
    return {
      keyword: '',
      list: [],
      timer: null
    }
  },
  methods: {
    // handleCityClick (city) {
    //   this.$store.dispatch('changeCity', city)
    //   this.$router.push('/')
    // }
    handleCityClick (city) {
      this.changeCity(city)
      this.$router.push('/')
    },
    ...mapActions(['changeCity'])
  },
  computed: {
    hasNoData () {
      return !this.list.length
    }
  },
  watch: {
    keyword () {
      if (this.timer) {
        clearTimeout(this.timer)
      }
      if (!this.keyword) {
        this.list = []
      }
      this.timer = setTimeout(() => {
        const result = []
        for (let i in this.cities) {
          this.cities[i].forEach((value) => {
            if (value.spell.indexOf(this.keyword) > -1 || value.name.indexOf(this.keyword) > -1) {
              result.push(value)
            }
          })
        }
        this.list = result
      }, 100)
    }
  },
  mounted () {
    this.scroll = new Bscroll(this.$refs.searchContent, {click: true})
  }
}
</script>

<style lang="stylus" scoped>
@import '~styles/varibles.styl'
.search
  padding: 0 .1rem
  height: .72rem
  background: $bgColor
  .search-input
    width: 100%
    height: .62rem
    line-height: .62rem
    text-align: center
    border-radius: .06rem
    color: #666
    padding: 0 .2rem
    box-sizing: border-box
.search-content
  position: absolute
  overflow: hidden
  z-index: 1
  top: 1.58rem
  left: 0
  right: 0
  bottom: 0
  background: #eee
  .search-item
    line-height: .62rem
    padding-left: .2rem
    color:#666
    background:#fff
</style>
